
li {
    list-style: none;
}

.nav-top {  
    display: flex; 
    justify-content: flex-end;
}
.sony_logo {
    height: 30px;
    width: 70px;   
    margin-right: 1rem;
}

main {
    padding-top: 90px;
}
.ms_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    color: white;
    padding-top: 450px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.ms_banner {
    max-width: 60%;
}

.ms_section-2 {
    text-align: center;
}

